[Desktop Entry]
Categories=Graphics;
Exec=qdia %F
GenericName=Diagram Editor
Comment=LaTeX development environment
Icon=qdia
Keywords=Diagram;editor;
MimeType=text/x-tex;
Name=QDia
StartupNotify=false
Terminal=false
Type=Application

